<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Legal Gather - Edit Candidate</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/legalgather" class="mylogo"> Legal-Gather</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/legalgather/candidates">Job Seekers</a></li>
            <li><a href="/legalgather/employers">Talent Seekers</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
       </br>
     </br>
   </br>
         <div id="workform">

               <div class="row">
                 <div class="col s6 offset-s3">
                   <div class="card">
                     <div class="card-content">
                       <span class="card-title">Profile / Resume</span>
                         <form action="/legalgather/admin/editcand/<%=workers.id%>" method="post">

                       </br>
                       <p><strong>Location: <%=workers.location%></strong></p>
                       <div class="input-field col s12">
                       <input name="location" value="<%=workers.location%>" id="location" type="text" class="validate">
                       </div>
                     </br>
                       <p><strong>Willing to Relocate (enter true or false): </strong></p>
                       <div class="input-field col s12">
                       <input name="relocate" value="<%=workers.relocate%>" id="relocate" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Experience: </strong> in years</p>
                       <div class="input-field col s12">
                       <input name="experience" value="<%=workers.experience%>" id="experience" type="text" class="validate">
                       </div>
                         </br>
                         <p><strong>Years Out of School: </strong></p>
                         <div class="input-field col s12">
                         <input name="yearsout" value="<%=workers.yearsout%>" id="yearsout" type="text" class="validate">
                         </div>
                           </br>
                         <p><strong>Current Position: </strong></p>
                         <div class="input-field col s12">
                         <input name="current" value="<%=workers.current%>" id="current" type="text" class="validate">
                         </div>
                           </br>
                           <p><strong>Level: (Associate, Partner, etc.)</strong></p>
                           <div class="input-field col s12">
                           <input name="level" value="<%=workers.level%>" id="level" type="text" class="validate">
                           </div>
                             </br>
                             <p><strong>Practice Specialty: </strong></p>
                             <div class="input-field col s12">
                             <input name="practice" value="<%=workers.practice%>" id="practice" type="text" class="validate">
                             </div>
                               </br>
                           <p><strong>Current Employer: </strong></p>
                           <div class="input-field col s12">
                           <input name="employer" value="<%=workers.employer%>" id="employer" type="text" class="validate">
                           </div>
                             </br>
                           <p><strong>Past Positions: </strong></p>
                           <div class="input-field col s12">
                           <input name="past" value="<%=workers.past%>" id="past" type="text" class="validate">
                           </div>
                             </br>
                             <p><strong>Interests & Accomplishments: </strong></p>
                             <div class="input-field col s12">
                             <input name="other" value="<%=workers.other%>" id="other" type="text" class="validate">
                             </div>
                               </br>
                       <p><strong>Certifications: </strong></p>
                       <div class="input-field col s12">
                       <input name="certifications" value="<%=workers.certifications%>" id="certifications" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Licensing: </strong></p>
                       <div class="input-field col s12">
                       <input name="license" value="<%=workers.license%>" id="license" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Degrees: </strong></p>
                       <div class="input-field col s12">
                       <input name="degree" value="<%=workers.degree%>" id="degrees" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Skills: </strong></p>
                       <div class="input-field col s12">
                       <input name="skills" value="<%=workers.skills%>" id="skills" type="text" class="validate">
                       </div>
                     </br>
                     <p><strong>Name: </strong></p>
                     <div class="input-field col s12">
                     <input name="name" value="<%=workers.name%>" id="name" type="text" class="validate">
                     </div>
                   </br>
                 <p><strong>Phone: </strong></p>
                 <div class="input-field col s12">
                 <input name="phone" value="<%=workers.phone%>" id="phone" type="text" class="validate">
                 </div>
               </br>
               <p><strong>Email: </strong></p>
               <div class="input-field col s12">
               <input name="email" value="<%=workers.email%>" id="email" type="text" class="validate">
               </div>
               <button class="btn waves-effect waves-light" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
       </button>
             </form>
             </br>
                   </br>

           </div>
           </div>
           </div>
           </div>
         </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>



  </body>
</html>
