<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Legal Gather - Edit Job</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/legalgather" class="mylogo"> Legal-Gather</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/legalgather/candidates">Job Seekers</a></li>
            <li><a href="/legalgather/employers">Talent Seekers</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
       </br>
     </br>
   </br>
         <div class="row">
           <div class="col s6 offset-s3">
             <div class="card">
               <div class="card-content">
                 <span class="card-title">Job Description</span>
                   <form action="/legalgather/admin/editjob/<%=jobs.id%>" method="post">

                 </br>
                 <p><strong>Location: <%=jobs.location%></strong></p>
                 <div class="input-field col s12">
                 <input name="location" value="<%=jobs.location%>" id="location" type="text" class="validate">
                 </div>
               </br>
                 <p><strong>Willing to Accept Remote Workers (enter true or false): <%=jobs.remote%> </strong></p>
                 <div class="input-field col s12">
                 <input name="remote" value="<%=jobs.remote%>" id="remote" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Experience: <%=jobs.experience%></strong> in years</p>
                 <div class="input-field col s12">
                 <input name="experience" value="<%=jobs.experience%>" id="experience" type="text" class="validate">
                 </div>
                   </br>
                   <p><strong>Previous Title Required: <%=jobs.previous%> </strong></p>
                   <div class="input-field col s12">
                   <input name="previous" value="<%=jobs.previous%>" id="previous" type="text" class="validate">
                   </div>
                     </br>
                     <p><strong>Practice Specialty: <%=jobs.practice%> </strong></p>
                     <div class="input-field col s12">
                     <input name="practice" value="<%=jobs.practice%>" id="practice" type="text" class="validate">
                     </div>
                       </br>
                       <p><strong>Interests & Accomplishments Desired: <%=jobs.other%> </strong></p>
                       <div class="input-field col s12">
                       <input name="other" value="<%=jobs.other%>" id="other" type="text" class="validate">
                       </div>
                         </br>
                 <p><strong>Certifications: <%=jobs.certifications%></strong></p>
                 <div class="input-field col s12">
                 <input name="certifications" value="<%=jobs.certifications%>" id="certifications" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Licensing: <%=jobs.license%></strong></p>
                 <div class="input-field col s12">
                 <input name="license" value="<%=jobs.certifications%>" id="license" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Degrees: <%=jobs.degree%></strong></p>
                 <div class="input-field col s12">
                 <input name="degree" value="<%=jobs.degree%>" id="degree" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Skills: <%=jobs.skills%></strong></p>
                 <div class="input-field col s12">
                 <input name="skills" value="<%=jobs.skills%>" id="skills" type="text" class="validate">
                 </div>
               </br>
               <p><strong>Job Title: <%=jobs.jobtitle%></strong></p>
               <div class="input-field col s12">
               <input name="jobtitle" value="<%=jobs.jobtitle%>" id="jobtitle" type="text" class="validate">
               </div>
             </br>
           <p><strong>Phone: <%=jobs.phone%></strong></p>
           <div class="input-field col s12">
           <input name="phone" value="<%=jobs.phone%>" id="phone" type="text" class="validate">
           </div>
         </br>
         <p><strong>Email: <%=jobs.email%></strong></p>
         <div class="input-field col s12">
         <input name="email" value="<%=jobs.email%>" id="email" type="text" class="validate">
         </div>
       </br>
       <p><strong>Company: <%=jobs.company%></strong></p>
       <div class="input-field col s12">
       <input name="company" value="<%=jobs.company%>" id="company" type="text" class="validate">
       </div>
     </br>
     <p><strong>Contact Person: <%=jobs.contactperson%></strong></p>
     <div class="input-field col s12">
     <input name="contactperson" value="<%=jobs.contactperson%>" id="contactperson" type="text" class="validate">
     </div>
         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
 <i class="material-icons right">send</i>
 </button>
       </form>
       </br>
             </br>

     </div>
     </div>
     </div>
     </div>
   </div>
    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>



  </body>
</html>
